<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <script>
      $(document).ready(function () {
        var list = [
          { tno: 3, address: "수원", age: 11 },
          { tno: 7, address: "미금", age: 13 },
          { tno: 17, address: "부산1", age: 13 },
          { tno: 117, address: "미국", age: 70 },
        ];
        var f = [3, 7, 17, 117];
        $.each(list, function (idx, item) {
          console.log(idx, item);
          $("button")
            .eq(idx)
            .click(function (e) {
              console.log("버튼이 눌렸어요", idx);
              list.map((i) => {
                if (i.tno == f[idx]) console.log(i);
              });
            });
        });
      });
    </script>
  </head>
  <body>
    <button>눌러라1</button>
    <button>눌러라2</button>
    <button>눌러라3</button>
    <button>눌러라4</button>
  </body>
</html>
